body {

}

main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 10px;
}

.user-repos {
	border: 2px solid black;
	padding: 20px;
	margin: 10px;
	background-color: lightgray;
}

form {
	text-align: center;
}

legend > h1 {
	font-size: 70px;
}

h2 {
	font-size: 18px;
	font-weight: 100
}

.username {
	border: 1px solid black;
	padding: 5px;
	background-color: lightgray;
	font-size: 20px
}

.submit-btn {
	border: 1px solid black;
	padding: 5px;
	font-size: 20px;
	cursor: pointer
}

.submit-btn:hover {
	background-color: lightgray;
}

.results {
	margin-top: 60px
}